<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (ngSubmit)="cadastrar()">
  <div class="form-group">
    <input class="form-control" placeholder="e-mail" formControlName="email"/>
    <app-mensagem *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] && novoUsuarioForm.get('email')?.touched"
      mensagem="Email obrigatorio">
    </app-mensagem>
    <app-mensagem *ngIf="novoUsuarioForm.get('email')?.errors?.['email'] && novoUsuarioForm.get('email')?.touched"
      mensagem="Email formato incorreto">
    </app-mensagem>
  </div>

  <div class="form-group">
    <input class="form-control" placeholder="Nome Completo" formControlName="fullName"/>
    <app-mensagem *ngIf="novoUsuarioForm.get('fullName')?.errors && novoUsuarioForm.get('fullName')?.touched"
      mensagem="Nome incorreto">
    </app-mensagem>
  </div>

  <div class="form-group">
    <input class="form-control" placeholder="Usuario" formControlName="userName"/>
    <app-mensagem *ngIf="novoUsuarioForm.get('userName')?.errors?.['minusculo'] && novoUsuarioForm.get('userName')?.touched"
      mensagem="Usuario deve ser letra minuscula">
    </app-mensagem>
  </div>

  <div class="form-group">
    <input class="form-control" placeholder="Senha" type="password" formControlName="password"/>
  </div>

  <button class="btn btn-primary btn-block" type="submit">
    Cadastro
  </button>
</form>

<!--link para rota com angular-->
<p>
  Já é um usuário?
  <a [routerLink]="['']">
    Faça Login!
  </a>
</p>
