<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (ngSubmit)="cadastrar()">
  <div class="form-group">
    <input class="form-control" placeholder="e-mail" formControlName="email"/>
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Nome Completo" formControlName="fullName"/>
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Usuario" formControlName="userName"/>
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Senha" type="password" formControlName="password"/>
  </div>
  <button class="btn btn-primary btn-block" type="submit">
    Cadastro
  </button>
</form>

<!--link para rota com angular-->
<p>
  Já é um usuário?
  <a [routerLink]="['']">
    Faça Login!
  </a>
</p>
